.idea/*
__pycache__/*
tmp/
vis/
visualization/__pycache__/
stats/*
credentials/*
twitter/__pycache__/
twitter_crawling/
outs/*
model/*

model.26w/*
model.26c/*
model.init
outs
out.sc/*
out.sw/*
pyrite
*zip
*swp
MADAR-Shared-Task-Subtask-1/*
logs/
nn/__pycache__/
emb/
old-logs/
embeddings/__pycache__/