{
    "model_name" : "Ngram_baseline_26",
    "task" : "s1-26",
    "gold" : "GOLD_PRED_FILE",
    "use_ngram" : false,
    "use_word_emb" : false,
    "use_lang_features" : true,
    "use_early_stopping" : false,

    "lr" : 0.01,
    "optimizer" : "Adam",
    "batch_size" : 41600,
    "epoch_count" : 800,
    "train_data" : "TRAIN_DATA_S1",
    "test_data" : "DEV_DATA_S1",

    "bidirectional" : true,
    "final_layer" : true,
    "attention" : true,
    "decay_rate" : 0.0,
    "use_masking" : true,
    "noise" : 0.0,

    "dropout_rnn" : 0.0,
    "dropout_rnn_recurrent" : 0.0,
    "dropout_attention" : 0.0,
    "dropout_final" : 0.0,

    "rnn_loss_l2" : 0.0,
    "loss_l2" : 0.0,

    "ngram_min" : 1,
    "ngram_max" : 3,
    "trainable_chars" : true,
    "dropout_chars" : 0.0,
    "ngram_rnn_layers" : 2,
    "ngram_cells" : 64,
    "max_sentence_len" : 200,
    "char_emb_output_dim" : 150,
    "ngram_voc_max_size" : 5107900,

    "trainable_we" : false,
    "dropout_words" : 0.0,
    "rnn_layers" : 2,
    "cells" : 10,
    "embeddings_dimension" : 300,
    "max_sequence_length" : 50,
    "use_gzip" : false,
    "embeddings_file" : "cc.ar.300.vec",

    "num_lang_dense_layers" : 0,
    "dense_lang_layers_cells" : 400,
    "dense_lang_dropout" : 0.0,
    "lang_features_len" : 26,
    "use_word_features" : false
}